@page "/admin/listausuarios"
@layout DashBoardLayout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Sisdas.Data

@inject UserManager<ApplicationUser> _userManager
@inject RoleManager<IdentityRole> _roleManager

@* @attribute [Authorize (Roles = "super-user, certificados")] *@
@attribute [StreamRendering]

<div class="card">
    <div class="card-header">
        <div class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col">
                <h3 class="mb-0 fw-medium">Lista de Usuarios</h3>
            </div>
            <div class="col ms-auto">
                <NavLink class="btn btn-sm btn-primary" href="/admin/crearusuario" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-user-plus"></i> Crear Usuario
                </NavLink>
            </div>
        </div>
    </div>
    <div class="card-body">
        @* @if (Users.Count == 0)
        { *@
        @* <div class="d-flex justify-content-center">
        <strong role="status">Cargando...</strong>
        <Spinner Color="SpinnerColor.Danger" />
        </div> *@
        @* }
        else
        { *@
        <div class="table-responsive">
            <Grid @ref="GridUsers" TItem="UserModel" Class="table table-sm table-bordered table-striped"
                DataProvider="GridDataProvider" AllowPaging="true" PageSize="10"
                PaginationItemsTextFormat="{0} - {1} de {2} registros" Responsive="true"
                HeaderRowCssClass="bg-primary text-white border-bottom-0">
                <GridColumn TItem="UserModel" HeaderText="Nombres y Apellidos" HeaderTextAlignment="Alignment.Center"
                            TextAlignment="Alignment.Center">
                    @context.NombreCompleto
                </GridColumn>
                <GridColumn TItem="UserModel" HeaderText="# Documento Identidad" HeaderTextAlignment="Alignment.Center"
                            TextAlignment="Alignment.Center">
                    @context.NumeroDocumento
                </GridColumn>
                <GridColumn TItem="UserModel" HeaderText="Correo" HeaderTextAlignment="Alignment.Center"
                            TextAlignment="Alignment.Center">
                    @context.Correo
                </GridColumn>
                <GridColumn TItem="UserModel" HeaderText="Roles" HeaderTextAlignment="Alignment.Center"
                            TextAlignment="Alignment.Center">
                    @context.Roles
                </GridColumn>
                <GridColumn TItem="UserModel" HeaderText="Ultima Actividad" HeaderTextAlignment="Alignment.Center"
                            TextAlignment="Alignment.Center">
                    @context.LastLogin
                </GridColumn>
                <GridColumn TItem="UserModel" HeaderText="Acciones" HeaderTextAlignment="Alignment.Center" Class="p-0"
                            TextAlignment="Alignment.Center">
                    <ChildContent>
                        <div class="btn-group border my-1" role="group" aria-label="acciones">
                            <a class="btn btn-sm btn-light" href="/admin/crearusuario/@context.Id">
                                <Tooltip Title="Editar Usuario">
                                    <i class="fa-solid fa-file-pen text-flat-blue"></i>
                                </Tooltip>
                            </a>
                        </div>
                    </ChildContent>
                </GridColumn>
                <GridTemplates>
                    <GridEmptyDataTemplate TItem="UserModel">
                        No data
                    </GridEmptyDataTemplate>
                </GridTemplates>
            </Grid>
        </div>
        @* } *@
    </div>
</div>

@code
{
    [CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; } = default!;

    #region VARIABLES
    private Grid<UserModel> GridUsers = default!;

    private List<UserModel> Users = new();
    #endregion

    #region MODELOS
    private sealed class UserModel
    {
        public string Id { get; set; } = "";
        public string Correo { get; set; } = "";
        public string NombreCompleto { get; set; } = "";
        public string NumeroDocumento { get; set; } = "";
        public string IsActivo { get; set; }
        public DateTime? LastLogin { get; set; }
        
        // ROLES
        public string Roles { get; set; } = "";
    }
    #endregion

    #region EVENTOS
    private async Task<List<UserModel>> GetUsers()
    {
        var authState = await authenticationStateTask;
        var actualUser = authState.User;
        string actualUserName = "";

        if (actualUser.Identity is not null && actualUser.Identity.IsAuthenticated)
        {
            actualUserName = actualUser.Identity.Name ?? "";
        }

        var users = await _userManager.Users.ToListAsync();
        var Users = new List<UserModel>();

        foreach (var user in users)
        {
            if (user.Email != actualUserName)
            {
                var userList = new UserModel()
                {
                    Id = user.Id,
                    Correo = user.Email ?? "",
                    NombreCompleto = string.Concat(user.Nombres, " ", user.Apellidos),
                    NumeroDocumento = user.NumeroDocumentoIdentidad ?? "",
                    LastLogin = user.LastLoginDate,
                    IsActivo = user.IsActivo.ToString()
                };

                var roles = await _userManager.GetRolesAsync(user);
                userList.Roles = GetRoleDescription(roles.ToList());

                Users.Add(userList);
            }
        }

        return Users;
    }

    private string GetRoleDescription(List<string> RolesList)
    {
        string roles = "";
        foreach (var item in RolesList)
        {
            if (item == "super-user")
            {
                roles += "Super Usuario, ";
            }

            if (item == "administrador")
            {
                roles += "Administrador, ";
            }

            if (item == "regional")
            {
                roles += "Regional, ";
            }
            
            if (item == "local")
            {
                roles += "Local, ";
            }
        }

        roles = roles.Trim();
        roles = roles.Length > 0 ? roles.Substring(0, roles.Length - 1) : "";

        return roles;
    }

    private async Task<GridDataProviderResult<UserModel>> GridDataProvider(GridDataProviderRequest<UserModel>
    request)
    {
        Users = new List<UserModel>();
        int TotalRows = 0;
        Users = await GetUsers();
        Users = Users.OrderBy(x => x.NombreCompleto).ToList();
        TotalRows = Users.Count();
        Users = Users.Skip((request.PageNumber - 1) * request.PageSize).Take(request.PageSize).ToList();
        return await Task.FromResult(new GridDataProviderResult<UserModel>
            {
                Data = Users,
                TotalCount = TotalRows
            });
    }
    #endregion
}